<%- include('layouts/header') %>

<div class="container">
    <main>
        <h2>Error</h2>
        <p><%= errorMessage %></p>
        <p><a href="/">Back to Home</a></p>
    </main>
</div>

<%- include('layouts/footer') %>