<%- include('layouts/header') %>

    <%- include('layouts/nav') %>
    <% if (isLoggedin) { %>
        <%- include('admin/nav') %>
    <% } %>
    <main>
        <h2>Welcome to Kitchen Chronicles</h2>
            <h3 style="text-align: center; padding-top:50px ;">Please Click on the above navigation links to read</h3>
    </main>

<%- include('layouts/footer') %>